.container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
}

.cardcontainer{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.imagecontainer{
    min-height: 75%;
    width: 100%;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}
.coverImage{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.imagecontainer:hover{
    border: 1px solid #59b256 ;
}
.title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    max-height: 100%;
}
.desccontainer{
    height: auto;
    position: relative;
    font-size: 1rem;
    padding: 0 .3rem ;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(152, 235, 124, 0.123);
}

.category{
    color: #59b256;
    width: auto;
    padding: 0 1rem;
    font-weight: 200;
    font-size: .5rem;
}
@media screen and (max-width:1240px) and (min-width:0px){
    .container{
        flex-direction: column;
     
    }
}