.containerrr{
    height: auto;
    min-width: 30%;
    position: relative;
  }
  .kadicontainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  .imagewrapper{
    position: relative;
    width: 100%;
    height:28.50vh;
    border-radius: 20px 20px 0px 0px;
  }
  .imagee{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;;
  }
  .descriptions{
    background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 0px 0px 20px 20px ;;
    box-shadow: 0px 0px 1rem 0px rgba(12, 4, 4, 0.551);
  }

  .category{
    width: 100%;
    color: #59b256;
    text-transform: capitalize;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px grey;
  }
  .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;

    padding: 0 1rem;
  }
  .date{
    font-weight: lighter;
  
    font-size: .85rem;
    padding-bottom: 1rem;
  }
  
  @media screen and (min-width: 0px) and (max-width: 1024px)  {
    .card {
      margin: 0;
    }
    .category{
      width: 100%;
      margin-left: 1rem;
    }
    .containerrr{
      width: 100%;
      height: auto;
    }
    .imagewrapper{
      height:40vh;
    }
  }
  


.container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 1rem;
    height: auto;
}

.cardcontainer{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.imagecontainer{
    min-height: 75%;
    width: 100%;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}
.coverImage{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.imagecontainer:hover{
    border: 1px solid #59b256 ;
}
.title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    max-height: 100%;
}
.desccontainer{
    height: auto;
    position: relative;
    font-size: 1rem;
    padding: 0 .3rem ;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(152, 235, 124, 0.123);
}

.category{
    color: #59b256;
    width: auto;
    padding: 0 1rem;
    font-weight: 200;
    font-size: 1.2rem;
}
@media screen and (max-width:1240px) and (min-width:0px){
    .container{
        flex-direction: column;
     
    }
}